
.dropdown:hover .dropdown-content {
    display: block;
}
.menuIcon {
    width: 32px;
    height: 4px;
    background-color: black;
    margin: 6px 0;
}

.guyn {
    background-color: #5C3C79;
}

.guyn:hover {
    background-color: rgb(148, 125, 158);
    transform: scale(1.05)
}