.logOut{
    position: absolute;
    right:0%;
    top:2%;
}
.logOutButton{
    /* cursor: pointer; */
    background-color: #5C3C79;
}

.logOutButton:hover {
    background-color: rgb(148, 125, 158);
    transform: scale(1.05)
}