.animationLine {
    background-color: black;
    height: 1px;
    width:100%;
    animation: line 2s linear 1s ;
 }
 
 @keyframes line {
     from {width:0} 
     to {width:100%}
 }
 
 .fields {
    float:left;
 }
 .messageConatiner {
     min-Width:300px;
     width: 30vw;
     height: 40vh;
     right: 2%;
     bottom: 2%;
     position: absolute;
     /* border : 1px solid rgb(49, 46, 46);   */
 }
 /* .closedMessage{
    min-Width:300px;
    width: 30vw;
    height: 40vh;
    float:right;
    margin-right: 2vw;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background:linear-gradient(to left, #92AEFE -35%,  #F0A5C6 91%);
 } */
 
 .typemessage {
     width: 100% ;
     height: 15%;
 }
 
 .readmessage {
     width: 100%;
     height: 100%;
     overflow: auto;
     background:silver;
     box-shadow: 5px 10px 18px #888888;
     
 }
 
 
 .companyName{
     position: absolute;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    color: #F0A5C6
 }
 .avatar{
    height:250px;
    width:250px;
    /* background:linear-gradient(to left, #92AEFE -35%,  #F0A5C6 91%);
    border: 1px solid black */
 }
 li{
    list-style-type: none;
     color:#5C3C79;
     padding: 10px;
 }

 .userPart{
     width: 100vw;
     height: 100vh;
    /* position: relative; */
 }
 .customers{
    position: relative;
    top: 5%;
    float: left;
    margin:5%;
 }

 .customer{
    margin:10px;
    background-color: #F0A5C6;
 }
 span{
     color: black;
     font-size:20px;
 }

.customer:hover {
    background-color: rgb(148, 125, 158);
    transform: scale(1.05)
}
 





 

 .customersContainer{
    position: absolute;
    top: 10%;
    right: 10%;
 }