.WhySmartEvent{

    /* position: flex; */
    justify-content: center;
    align-items: center;

}
.WhySmartEvent div{
    padding: 20px;
    border-radius: 5%;
    z-index: 10;
    color:white;
    box-shadow: -6px 6px 5px 0px rgba(224,195,202,0.49);
    animation: Gradient 2s ease infinite;
    background-image: linear-gradient(45deg,
    #EE7752,#E73C7E, indigo, violet);
}