/* .WhySmartEvent{
    position: flex;
    justify-content: center;
    align-items: center;
} */
.WhySmartEvent img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5%;
    color:white;
    box-shadow: -6px 6px 5px 0px rgba(224,195,202,0.49);
    animation: Gradient 2s ease infinite;
    background: 
}
.WhySmartEvent{
    display: block;
    position: flex;
    justify-content: center;
    align-items: center;
   margin-top: 800px;
    bottom: 500px;
 }
 h2{
    color: #5C3C79;
    /* font-size: 400%;
    margin-top: 100px; */
 }