.App{
  text-align: center; 
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  background-image: url("./Image/bgIcon.png");

}

#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -75px;

}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}