a{
    color: grey
}

p{
    color: grey
}

.footerSection{
   width: 100vw
}
.language{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center 
}
.language img{
    height: 20px;
    width: 20px;
    cursor: grab;
}

